html {
    height: 100%;
  }
html, 
body {
    height: 100%;
}
body{
    color: #424242;
    background-color: #ffffff   ;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}
.heading,
.heading-2{
    text-align: center;
}
.main-heading{
    font-weight: 700;
}
.features-heading{
    font-size: 4.2rem;
    font-weight: 700;
}
.helper-text{
    text-align: center;
}

.email_input{
    text-align: center;
}
.no-of-user{
    color: cyan;
}
.logo{
    text-align: center;
    vertical-align: middle;
    /* width: 5rem;
    height:6rem; */
}
.logo-text{
    font-size: 2.7rem;
    margin-left: 1.2rem;
    color: rgba(15, 26, 38, 255);
}
.heading-section-image,
.third_section_image{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
}
.features-heading{
    vertical-align: middle;
}
.features-para{  
    color: rgba(99, 107, 115, 255);
    font-size: 1.2rem;
    margin: 0 2rem 1rem 2rem;
}
.row.middle .col.s12.m6.l4{
    padding: 3rem;
}
.sub-heading{
    margin: 1rem;
    font-size: x-large;
}
.fake-container{
    width: 90%;
    margin: 0 auto;
    
}
/* .fake-container-2{
    width: 90%;
    margin: 0 auto;
} */
.heading-with-image{
   margin-left: 2rem;
}

button.btn.waves-effect.waves-light.submit{
    background-color : cyan;
}
.third-section{
    margin-top: 2   rem;
}
.third-section-h3{
    text-align: center;
}
.row.footer,
.row.footer ul li a{
    color: #f5f5f5;
}
.row.footer ul li a{
    text-decoration: none;
}
.downloading-image{
    height: 40px;
    width: 127px;
}
h3.third-section-h3{
    font-weight: 700;
}
@media only screen and (max-width: 600px) {
    .third-section-h3 {
      display: none;
    }
   
}

@media only screen and (max-width: 850px) {
    .row.middle .col.s12.m6.l4{
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    h4.user-count{
        font-size: 1.27rem;
    }
    h1.main-heading{
        font-size: 2rem;
    }
   
}